<html>
<head>
  <title>Push.js Sample</title>
</head>
<body>

  <h1>Push.js Sample</h1>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.7/push.min.js"></script>
  <script type="text/javascript" src="./js/custom-push.js"></script>
</body>
</html>
